#firstname,
#lastname,
.score {
    height: 25px;
    width: 150px;
}

#country,
.addbtn {
    height: 30px;
    width: 120px;
}

.adding {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 2rem;
}

#output {
    background-color: aquamarine;
    color: black;

}

.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#dltbutton {
    background: none;
    margin-left: 20px;
}

#minus5 {
    height: 10px;
    width: 10px;
}

#output {
    gap: 100px;
}

#minus5 {
    height: 10px;
    width: 10px;
}